@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #012B6D;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #FFBF00;
  border-radius: 10px;
  border: 5px solid #012B6D;
}

::-webkit-scrollbar-thumb:hover {
  background: #CC9900;
}

/* Firefox için scrollbar stilleri */
* {
  scrollbar-width: thin;
  scrollbar-color: #FFBF00 #012B6D;
}